{
  "manifestVersion": 1,
  "pluginInterfaceVersion": 1,
  "name": "avro",
  "version": "@VERSION@",
  "executableType": "exec",
  "entryPoint": "pact-avro-plugin",
  "entryPoints": {
    "windows": "pact-avro-plugin.exe"
  },
  "dependencies": []
}
